<a href="https://colab.research.google.com/github/caitlyncrow/S23-CS167-Notes/blob/main/Day01_notes(Python_review).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=10
b=3.14
c = "machine learning"
d = 'hi'
e = 'x'
f = [1,2,3]
print(a,b,c,d,e,f)

10 3.14 machine learning hi x [1, 2, 3]

In [ ]:
print("a's type:", type(a))
a = 'variables can change types'
print("a's type:", type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

a's type: <class 'int'>
a's type: <class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'list'>

In [ ]:
x = [1,2,3] 
y=x  #space in mem (address) same so if x change y change
x[0] = "abc" 
print(y) 
#before you run, what will the value of y[0] be?

['abc', 2, 3]

In [ ]:
z = x[1]
x[1] = "what"
print(x)
print(z)
x.append(70)
x.insert(2,90)
print(x)
#can you predict what will be output?

['abc', 'what', 3]
2
['abc', 'what', 90, 3, 70]

In [ ]:
print( x.index(90) )
print( len(x) )
print( x+x )

2
5
['abc', 'what', 90, 3, 70, 'abc', 'what', 90, 3, 70]

In [ ]:
#List Slices 

my_list = [33, 55, 'hello','R2D2',7.8,'banana']
print( my_list[1:5] ) #uses index num, not num of objects
print( my_list[:4])
print( my_list[4:])
print( my_list[:])

[55, 'hello', 'R2D2', 7.8]
[33, 55, 'hello', 'R2D2']
[7.8, 'banana']
[33, 55, 'hello', 'R2D2', 7.8, 'banana']

In [ ]:
my_slice = my_list[1:5] # = with lists is assigning the content, not equivalent addresses
my_slice[2] = 'what'
print(my_slice)
print(my_list)
print(my_list[1:5] + 2*['Drake','University']) #2* doubles the content printed
my_list[:0] = ['Bulldogs'] #[:0] == [0]
print(my_list)
# why isn't "Drake" or "University" printed out in this last line?

[55, 'hello', 'what', 7.8]
[33, 55, 'hello', 'R2D2', 7.8, 'banana']
[55, 'hello', 'R2D2', 7.8, 'Drake', 'University', 'Drake', 'University']
['Bulldogs', 33, 55, 'hello', 'R2D2', 7.8, 'banana']

In [ ]:
my_list = [42, 3.14, 'hello', ['ice', 'ice', 'baby']] #creates 2D matrix/array, only final column (3) has vertical inputs
print(my_list[3][2])
print(my_list[2][1]) #outputs e b/c that space is empty
print(my_list)

baby
e
[42, 3.14, 'hello', ['ice', 'ice', 'baby']]

In [ ]:
# In Python, a tuple is a collection which is ordered and unchangeable
# In Python tuples are written with round brackets.

my_tuple = (100,200,'300')
print(my_tuple[1])
my_dictionary = {'x':42, 'y':3.14}
print(my_dictionary['x'])

200
42

In [ ]:
# Each of these lines will cause an error. 
# Can you describe why before running them one at a time?

#print(my_list[1][2]) #??
#my_tuple[1] = 0   #tuples are unchangeable 
print(my_dictionary[1]) #not a key or def

KeyError: ignored

In [ ]:
# If statements and for loops
x = int(input())
if x < 0:
    print("x is negative")
elif x % 2:
    print("x is positive and odd")
else:
    print("x is even and nonnegative")

-9
x is negative

In [ ]:
num_list = [3, 7, 9,17, 2]
for num in num_list:
    print(num)

print(range(10,20))
for n in range(10,20):   #prints 10 up to by not including 20
    print(n)

3
7
9
17
2
range(10, 20)
10
11
12
13
14
15
16
17
18
19

In [ ]:
# iterating through Data
my_data = [5.3, 3.2, 4.1, 5.9, 6.7, 3.5]
# method 1
for element in my_data:
    print(element)

# method 2
for idx in range(len(my_data)):
    print(my_data[idx])

5.3
3.2
4.1
5.9
6.7
3.5
5.3
3.2
4.1
5.9
6.7
3.5

In [ ]:
# Explain why these won't work:

my_data = [5.3, 3.2, 4.1, 5.9, 6.7, 3.5]
for i in my_data:     #uses objects in list, not indexes
    print( my_data[i] )

TypeError: ignored

In [ ]:
for i in range(len(my_data)): #just prints indexes not objects
    print( i )

0
1
2
3
4
5

In [ ]:
for i in range(my_data): #can't use list as range of int
    print( my_data[i] )

TypeError: ignored

In [ ]:
#PANDAS
import pandas

#####

import pandas as pd
# The first step is to mount your Google Drive to your Colab account. 
#You will be asked to authorize Colab to access your Google Drive. Follow the steps they lead you throuh.

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/ML_Datasets/restaurant.csv')
data.head()

   alt  bar  fri  hun   pat price rain  res    type    est target
0  Yes   No   No  Yes  Some   $$$   No  Yes  French   0-10    Yes
1  Yes   No   No  Yes  Full     $   No   No    Thai  30-60     No
2   No  Yes   No   No  Some     $   No   No  Burger   0-10    Yes
3  Yes   No  Yes  Yes  Full     $   No   No    Thai  10-30    Yes
4  Yes   No  Yes   No  Full   $$$   No  Yes  French    >60     No

In [ ]:
print(data['price'])

#####

print(data.loc[3])

#####

print(data.loc[3, 'type'])

#####

print(data.loc[3, 'rain'])

#####

print(data.iloc[3,8])

#####

print(data.iloc[3][8])

#####

print(data.iloc[3])

#####

print(data['est'])

0     $$$
1       $
2       $
3       $
4     $$$
5      $$
6       $
7      $$
8       $
9     $$$
10      $
11      $
Name: price, dtype: object
alt         Yes
bar          No
fri         Yes
hun         Yes
pat        Full
price         $
rain         No
res          No
type       Thai
est       10-30
target      Yes
Name: 3, dtype: object
Thai
No
Thai
Thai
alt         Yes
bar          No
fri         Yes
hun         Yes
pat        Full
price         $
rain         No
res          No
type       Thai
est       10-30
target      Yes
Name: 3, dtype: object
0      0-10
1     30-60
2      0-10
3     10-30
4       >60
5      0-10
6      0-10
7      0-10
8       >60
9     10-30
10     0-10
11    30-60
Name: est, dtype: object